<div id="container" class="chatContainer" >
    <div style="display: flex; flex-direction:row; gap: .3rem">
        <a href="http://localhost:8080/products"><button>Buscar Productos</button></a>
        <button style="align-self:flex-start;" id="ViewCart">Ver Mi Carrito</button>
        <a href="http://localhost:8080/"><button>Ir al Home</button></a>
        <a href="http://localhost:8080/realtimeProducts"><button>Ir a RealTimeProducts</button></a>
    </div>
    <h1 class="chatTitle">Chat con WebSocket</h1>
    <div id="messageContainer">

    </div>
    <form id="messageForm">
        <input
            autocomplete="off" 
            type="text" 
            id="messageInput" 
            name="messageInput"
        >
        <button type="submit" value="Enviar">Enviar</button>
    </form>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="js/chat.js"></script>