<div style="display: flex; flex-direction: column;">
  <h1 style="margin: 10px auto;">Listado de Productos (No Real Time)</h1>
  <div style="display: flex; flex-direction:row; gap: .3rem">
  <a href="http://localhost:8080/products"><button>Buscar Productos</button></a>
  <button id="ViewCart">Ver Mi Carrito</button>
  <a href="http://localhost:8080/chat"><button>Ir al Chat</button></a>
  <a href="http://localhost:8080/realtimeProducts"><button>Ir a RealTimeProducts</button></a>
  </div>
</div>
<script src="js/home.js"></script>