<div>
    <div style="display: flex; flex-direction:row; gap: .3rem; align-items: center;">
        <a href="/products"><button>Buscar Productos</button></a>
        <a href="/"><button>Ir al Home</button></a>
        <a href="/realtimeProducts"><button>Ir a RealTimeProducts</button></a>
    </div>
    <h1 class="login-title">Login</h1>
    <div class="container">
        <div class="container-login">
            <form action="" id="loginForm">
                <div class="form-grid">
                    <label class="text-white" for="email">Email:</label>
                    <input type="text" name="email" id="email">
                    <label class="text-white" for="password">Contraseña:</label>
                    <input type="password" name="password" id="password">
                </div>
                <button type="submit">Ingresar</button>
                <a href="/api/sessions/github"><button>Autenticate con Git Hub</button></a>
            </form>
            <p class="text-white">¿Ovidaste tu contraseña?</p>
            <a href="/sendMailToRestorePassword"><button>Recuperar contraseña</button></a> 
        </div>
        <p style="font-weight: 300; margin-top: 2rem;">¿No tienes cuenta?</p>
        <a href="/register"><button>Registrate</button></a>
    </div>

</div>
<script src="js/login.js"></script>