<div style="display: flex; flex-direction: column;">
  <h1 style="margin: 10px auto;">Listado de Productos Real Time</h1>
  <div id="productsContenedor">
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="js/realTimeProducts.js"></script>