<div>
    <div style="display: flex; flex-direction:row; gap: .3rem; align-items: center;">
        <a href="/products"><button>Buscar Productos</button></a>
        <a href="/"><button>Ir al Home</button></a>
        <a href="/realtimeProducts"><button>Ir a RealTimeProducts</button></a>
    </div>
    <h1>Recuperar Contraseña</h1>
    <p>Al parecer has olvidado tu contraseña.</p>
    <form action="" id="form-restorePass" class="invisible">
        <p>Enviaremos un correo electrónico a su casilla para recuperar su contraseña.</p>
        <p>Tenga en cuenta que tiene 1 hora para recuperarla. De lo contrario, deberá generar otra solicitud.</p>
        <div>
            <label for="email">Email:</label>
            <input type="text" name="email" id="email-formRestorePass" style="width: 250px" required>
            <button type="submit">Enviar</button>
        </div>
    </form>
</div>
<script src="js/sendMailRestorePassword.js"></script>